.holderTable {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
.table {
  border-radius: 10px;
  overflow: hidden;
}
.headTable {
  background-color: rgb(90, 191, 231);
  color: white;
}

.titleTable {
  font-size: 30px;
  height: 60px;
  width: 300px;
  font-weight: bold;
}

.lineText {
  height: 50px;
  text-align: center;
  color: grey;
  font-size: 20px;
  font-weight: bold;
}

tbody tr:nth-child(odd) {
  background-color: #ffffff;
}

tbody tr:nth-child(even) {
  background-color: #bebebe;
}
